.modal-permisos .modal-body {
  height: 250px;
  padding: 0;
}

.modal-permisos .modal-body .tabs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 6px;
}

.modal-permisos .modal-body .tabs .check-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-permisos .button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal-permisos .button-container button {
  border-radius: 20px;
  border: 1px solid #079434;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
}

.modal-permisos .button-container button label {
  margin-left: 4px;
}

.modal-permisos .button-container button:hover {
  background-color: #079434;
  border: none;
  color: white;
}
