.opciones-usuario {
  height: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .opciones-usuario {
    margin-top: 120px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
}
