.buscador-sucursal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscador-sucursal .button-container button {
  border-radius: 20px;
  border: 1px solid #079434;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
}

.buscador-sucursal .button-container button:hover {
  background-color: #079434;
  border: none;
  color: white;
}
