.finanzas-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "tabla grafico "
    "tabla saldo";
  padding: 20px;
  gap: 5px;
  grid-template-columns: 80% 19%;
  grid-template-rows: 60px 180px 1fr
}

.finanzas-layout .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 5px;
}
.finanzas-layout .header div {
  width: 100%;
}

.finanzas-layout .saldo {
  grid-area: saldo;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 5px;
}

.finanzas-layout .saldo .ant-card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #D9D9D9;
}
.finanzas-layout .grafico {
  grid-area: grafico;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finanzas-layout .grafico canvas{
 width: 90% !important;
}

.finanzas-layout .tabla {
  grid-area: tabla;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 5px;
}

.modal-movimiento .modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.modal-movimiento .modal-body .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-movimiento .modal-body .button-container button {
  border-radius: 20px;
  border: 1px solid #079434;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
}

.modal-movimiento .modal-body .button-container button:hover {
  background-color: #079434;
  border: none;
  color: white;
}
