.modal-contrato-asociacion .modal-body fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  .modal-contrato-asociacion .modal-body fieldset div {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .modal-contrato-asociacion .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-contrato-asociacion .button-container button {
    border-radius: 20px;
    border: 1px solid #079434;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 110px;
  }
  
  .modal-contrato-asociacion .button-container button:hover {
    background-color: #079434;
    border: none;
    color: white;
  }
  