.buscador-almacen {
  display: flex;
  justify-content: space-between;
}

.modal-usuario .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buscador-almacen .button-container button{

  border-radius: 20px;
  border: 1px solid #079434;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
}


.buscador-almacen .button-container button:hover {
  background-color: #079434;
  border: none;
  color: white !important;
}
