.opciones{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones div{
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    
}